h1 {
	
}

h2 {
	font-size: 1.2em;
}

nav {
	background-color: navy;
}

nav ul{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	width: 100%;
	padding: 0;
}

nav ul li {
	display: inline-block;
	float: none;
	margin-left:5px;
	margin-right:5px;
	color: white;
}